body {
  background: rgb(95, 95, 190);
  font-family: 'Roboto', sans-serif;
  font-size: 15pt;

}
header{
    color: white;
    text-align: center;
}
section{
    background: #f5f2d0;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.514);
    
}
footer{
    color: whitesmoke;
    text-align: center;
    font-style: italic;
}


